body {
    font-family: 'Roboto', sans-serif;
    background-color: cornsilk;
  }
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .form-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
  }
  input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
  }
  input:focus, textarea:focus {
    outline: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  textarea {
    resize: vertical;
    min-height: 150px;
  }
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
  }
  button:hover {
    background-color: #3e8e41;
  }