body {
  margin: 0;
  padding: 0;
  background-color: cornsilk;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    text-decoration: none;
    text-transform: uppercase
}
#liblogo {
    colspan="8";
    text-align: center;
}
#navbar {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.filter label {
  margin-right: 10px;
}

.filter input[type=text], .filter input[type=date] {
  padding: 5px;
  margin-right: 10px;
}

.filter button {
  padding: 5px;
  background-color: #333;
  color: white;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.filter button:hover {
  background-color: #444;
}

.books {
  margin: 20px;
}

.books table {
  width: 100%;
  border-collapse: collapse;
}

.books th, .books td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px;
  background-color: #333;
  color: white;
  border: none;
margin-right: 10px;
cursor: pointer;
}

.pagination button:hover {
background-color: #444;
}
